# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*
.csv
.sql

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
db/data_attn.csv
db/data_auth.csv
db/data_class.csv
db/data_m.csv
db/data_msh.csv
db/members.csv
db/SSDB_complete.sql
db/Dump20191105/ssdb_attendance.sql
db/Dump20191105/ssdb_auth.sql
db/Dump20191105/ssdb_church_class.sql
db/Dump20191105/ssdb_churches.sql
db/Dump20191105/ssdb_guests.sql
db/Dump20191105/ssdb_member.sql
db/Dump20191105/ssdb_membership.sql
db/Dump20191105/ssdb_sbclass.sql
ssdb.postman_collection.json
seeders/bckup.sql
seeders/churches.csv
seeders/churches.sql
seeders/members.csv
seeders/members.sql
seeders/sbclasses.sql
seeders/test.sql
